@import "../../assets/assets.scss";
.info {
  background-color: $secondery-color;
  width: 70%;
  border-radius: 10px;
}
.emailInfo {
  background-color: rgba(97, 8, 43, 0.2);
}
.email ul {
  list-style: none;
  margin-bottom: 0 !important;
}
.email a {
  color: rgba(91, 88, 88, 0.8);
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: left;
}
.email a:hover {
  color: $base-color;
}
.email img {
  margin: 0 0.7rem !important;
}
.cardContactRow {
  transform: translateX(25%) !important;
  width: 75%;
}
.form-label {
  font-size: 15px !important;
  font-weight: 400 !important;
}
.submitBtn {
  background-color: $base-color !important;
  color: $secondery-color !important;
  border: none !important;
}
.submitBtn:hover {
  box-shadow: 5px 3px 18px 0px rgba(97, 8, 43, 0.2) !important;
  // background-color: white !important;
  // color: $base-color !important;
  // border: 1px solid $base-color !important;
}
.regerrorMsg {
  width: 84% !important;
  background-color: rgba(97, 8, 43, 0.2) !important;
  border: none !important;
  color: rgba(91, 88, 88, 0.8) !important;
  margin-left: 1% !important;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .cardContactRow {
    width: 90%;
    transform: translateX(17%) !important;
    overflow: hidden;
  }
  .CoffeCup {
    width: 20% !important;
  }
  .info {
    width: 82%;
    margin-bottom: 2%;
  }
  .regerrorMsg {
    width: 79% !important;
  }
  .email ul {
    padding-left: 1rem !important;
  }
}

@media screen and (min-width: 480px) and (max-width: 568px) {
  // .cardContactRow {
  //   width: 100%;
  //   transform: translateX(10%) !important;
  // }
  .CoffeCup {
    width: 20% !important;
  }
  .info {
    width: 82%;
    margin-bottom: 2%;
  }
  .regerrorMsg {
    width: 79% !important;
  }
}
@media screen and (min-width: 568px) and (max-width: 768px) {
  .cardContactRow {
    width: 100%;
    transform: translateX(6%) !important;
  }
  .CoffeCup {
    width: 20% !important;
  }
  .info {
    width: 68%;
    margin-bottom: 2%;
  }
  .regerrorMsg {
    width: 79% !important;
  }
  .email a {
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .cardContactRow {
    width: 100%;
    transform: translateX(6%) !important;
  }
  .CoffeCup {
    width: 20% !important;
  }
  .info {
    width: 68%;
    margin-bottom: 2%;
  }
  .regerrorMsg {
    width: 79% !important;
  }
  .email a {
    font-size: 0.5rem;
  }
}
